<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
    <main>
      <h1>Editar producto</h1>

      <form
        class="formabmproducto"
        action="/products/abmproductEdit/<%=productRenderizar.id %>/?class=<%=productRenderizar.section_id%>&_method=PUT"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mainformabmproducto">
          <div class="formimagenabmproducto">
            <img src="/img/products/<%= productRenderizar.image %>" />
            <input
              type="file"
              accept=".jpg,.png,.svg"
              name="image"
              placeholder="imagen del producto"
              value="<%= locals.oldData ? oldData.image : productRenderizar.image%>"
            />
            <% if (locals.errors && errors.image) { %>
            <div class="text-danger"><%= errors.image.msg %></div>
            <% } %>
          </div>

          <div class="detailformabmproducto">
            <div>
              <label for="name">Nombre del producto</label>
              <input
                type="text"
                placeholder="Titulo del producto"
                name="name"
                value="<%= locals.oldData ? oldData.name : productRenderizar.name %>"
              />
              <% if (locals.errors && errors.name) { %>
              <div class="text-danger"><%= errors.name.msg %></div>
              <% } %>
            </div>

            <div>
              <label for="description">Descripcion</label>
              <textarea
                name="description"
                value="<%= locals.oldData ? oldData.description :productRenderizar.description %>"
                placeholder="<%= productRenderizar.description %>"
              >
              <%= locals.oldData ? oldData.description :productRenderizar.description %></textarea
              >
              <% if (locals.errors && errors.description) { %>
              <div class="text-danger"><%= errors.description.msg %></div>
              <% } %>
            </div>

            <div>
              <label for="price">Precio</label>
              <input
                type="number"
                name="price"
                value="<%= locals.oldData ? oldData.price : productRenderizar.price %>"
                placeholder="Precio"
              />
              <% if (locals.errors && errors.price) { %>
              <div class="text-danger"><%= errors.price.msg %></div>
              <% } %>
            </div>

            <div class="inputselector">
              <label for="packaging">packaging</label>
              <select
                name="packaging"
                id="peso"
                selected
                value="<%= locals.oldData ? oldData.packaging : productRenderizar.packaging%>"
              >
                <option value="<%= productRenderizar.packaging %>">
                  Seleccioná el tamaño del producto
                </option>
                <option value="3 kg">3 kg</option>
                <option value="5 kg">5 kg</option>
                <option value="8 kg">8 kg</option>
              </select>
              <% if (locals.errors && errors.packaging) { %>
              <div class="text-danger"><%= errors.packaging.msg %></div>
              <% } %>
            </div>

            <div>
              <label for="stock">Stock</label>
              <input
                type="number"
                name="stock"
                placeholder="Stock"
                value="<%= locals.oldData ? oldData.stock : productRenderizar.stock %>"
              />
            </div>
            <div class="inputselector">
              <label for="class">Categoria</label>
              <select
                name="class"
                selected
                value="<%= locals.oldData ? oldData.class :productRenderizar.class %>"
                id="categoria"
              >
                <option
                  value="<%= locals.oldData ? oldData.class :productRenderizar.class %>"
                >
                  <%= productRenderizar.class %>
                </option>
                <!-- <option value="perros">Perros</option>
                <option value="gatos">Gatos</option>
                <option value="peces">Peces</option>
                <option value="aves">Aves</option>-->
              </select>
            </div>

            <div>
              <label for="amount">Cantidad</label>
              <input
                type="number"
                name="amount"
                value="<%= locals.oldData ? oldData.amount : productRenderizar.amount %>"
                placeholder="Cantidad"
              />
              <% if (locals.errors && errors.amount) { %>
              <div class="text-danger"><%= errors.amount.msg %></div>
              <% } %>
            </div>
            <div class="inputselector">
              <label for="oferta">Estado de oferta</label>
              <select
                name="oferta"
                id="categoria"
                selected
                value="<%= locals.oldData ? oldData.oferta :productRenderizar.oferta %>"
              >
                <option value="">En Oferta</option>
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
              <% if (locals.errors && errors.oferta) { %>
              <div class="text-danger"><%= errors.oferta.msg %></div>
              <% } %>
            </div>

            <div class="formbuttonsabmproducto">
              <div class="buttonabmproducto">
                <input type="submit" value="Modificar producto" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
