<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>

    <main>
      <form
        class="productEditForm"
        action="/products/abmproductEdit/<%= productRenderizar.id %>/?class=<%= productRenderizar.section_id%>&_method=PUT"
        method="post"
        enctype="multipart/form-data"
      >
        <h2 class="productEditTitle">EDITAR PRODUCTO</h2>

        <div class="productEditContainer">
          <div class="imgContainer">
            <img src="/img/products/<%= productRenderizar.image %>" />

            <input
              id="image"
              type="file"
              accept=".jpg,.png,.svg"
              name="image"
              placeholder="imagen del producto"
              value="<%= locals.oldData ? oldData.image : productRenderizar.image%>"
            />
            <div class="text-danger" id="dangerImage"></div>
            <% if (locals.errors && errors.image) { %>
            <div class="text-danger"><%= errors.image.msg %></div>
            <% } %>
          </div>

          <div class="formModificacionProducto">
            <div class="inputSelector">
              <!-- <label for="name">Nombre del producto: </label> -->
              <input
                id="name"
                type="text"
                placeholder="Nombre del producto"
                name="name"
                value="<%= locals.oldData ? oldData.name : productRenderizar.name %>"
              />
              <div class="text-danger" id="dangerName"></div>

              <% if (locals.errors && errors.name) { %>
              <div class="text-danger"><%= errors.name.msg %></div>
              <% } %>
            </div>

            <div class="inputSelector">
              <!-- <label for="description">Descripción: </label> -->
              <textarea
                id="description"
                name="description"
                value="<%= locals.oldData ? oldData.description :productRenderizar.description %>"
                placeholder="Describí tu producto"
              >
<%= locals.oldData ? oldData.description : productRenderizar.description %></textarea
              >
              <div class="text-danger" id="dangerDescription"></div>
              <% if (locals.errors && errors.description) { %>
              <div class="text-danger"><%= errors.description.msg %></div>
              <% } %>
            </div>

            <div class="inputSelector">
              <!-- <label for="price">Precio: $ </label> -->
              <input
                id="price"
                type="number"
                name="price"
                value="<%= locals.oldData ? oldData.price : productRenderizar.price %>"
                placeholder="Precio"
              />
              <div class="text-danger" id="dangerPrice"></div>
              <% if (locals.errors && errors.price) { %>
              <div class="text-danger"><%= errors.price.msg %></div>
              <% } %>
            </div>

            <div class="inputSelector">
              <!-- <label for="packaging">Packaging: </label> -->
              <select
                name="packaging"
                id="peso"
                selected
                value="<%= locals.oldData ? oldData.packaging : productRenderizar.packaging%>"
              >
                <!-- <option value="<%= productRenderizar.packaging %>"> -->
                <option value="">Seleccioná el tamaño del producto</option>
                <option value="3 kg">3 kg</option>
                <option value="5 kg">5 kg</option>
                <option value="8 kg">8 kg</option>
              </select>

              <div class="text-danger" id="dangerPeso"></div>
              <% if (locals.errors && errors.packaging) { %>
              <div class="text-danger"><%= errors.packaging.msg %></div>
              <% } %>
            </div>

            <div class="inputSelector">
              <!-- <label for="stock">Stock: </label> -->
              <input
                id="stock"
                type="number"
                name="stock"
                placeholder="Stock"
                value="<%= locals.oldData ? oldData.stock : productRenderizar.stock %>"
              />
              <div class="text-danger" id="dangerStock"></div>
            </div>

            <!-- <div class="inputSelector">
                <select 
                  name="class" 
                  selected value="<%= locals.oldData ? oldData.class :productRenderizar.class %>"
                  id="categoria"
                >
                  <div class="text-danger" id="dangerCategoria"></div>

                  <option value="<%= locals.oldData ? oldData.class :productRenderizar.class %>">
                    <%= productRenderizar.class %>
                  </option>

                </select>

              </div> -->

            <div class="inputSelector">
              <!-- <label for="amount">Cantidad: </label> -->
              <input
                id="amount"
                type="number"
                name="amount"
                value="<%= locals.oldData ? oldData.amount : productRenderizar.amount %>"
                placeholder="Cantidad"
              />
              <div class="text-danger" id="dangerAmount"></div>
              <% if (locals.errors && errors.amount) { %>
              <div class="text-danger"><%= errors.amount.msg %></div>
              <% } %>
            </div>

            <div
              class="inputSelector <%= locals.errors && errors.oferta? 'is-invalid' : null %>"
            >
              <select name="oferta" id="oferta">
                <option
                  selected
                  value="<%= locals.oldData ? oldData.oferta : null %>"
                >
                  En Oferta
                </option>
                <option value="1">Si</option>
                <option value="0">No</option>
              </select>
              <div class="text-danger" id="dangerOferta"></div>
              <% if (locals.errors && errors.oferta) { %>
              <div class="text-danger"><%= errors.oferta.msg %></div>
              <% } %>
            </div>

            <div class="buttonProductForm">
              <input type="submit" value="Modificar producto" />
            </div>
          </div>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
    <script src="/js/editProduct.js"></script>
  </body>
</html>
