<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

  <body>

    <%- include('./partials/header.ejs')%>
    
      <main class="mainIndex">

        <article class="carrusel"></article>

        <%- include('./partials/itemBar.ejs')%>

        <form action="" method="get">

          <!-- <h2 class="productListTitle">PRODUCTOS EN OFERTA</h2> -->

          <div class="productosDestacados">

            <% productsOferta.forEach( ( producto )=> { %>

              <div class="productsCard">

                <div class="productsCardCenter">

                  <div class="cardTitle">
                    <%= producto.name %>
                  </div>

                  <div class="divImg">
                    <img src="/img/products/<%= producto.image %>" alt="img" />
                  </div>

                  <p>
                    $ <%= producto.price %>
                  </p>
                  <p>
                    Presentación: <%= producto.packaging %> kg
                  </p>
                  <p>
                    Descripción: <%= producto.description %>
                  </p>

                </div>

                <div class="productsCardBottom">

                  <button class="productsCardButton">
                    <a href="/products/<%=producto.section_id%>/<%= producto.id%>/?class=<%=producto.section_id%>"
                    class="idproducto">VER</a>
                  </button>
                
                  <button class="productsCardButton">AGREGAR</button>

                </div>

              </div>

              <% }); %>

          </div>
        </form>
      </main>
      <%- include('./partials/footer.ejs')%>

  </body>

</html>