<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>
    <main>
      <h1>Editar producto</h1>

      <form
        class="formabmproducto"
        action="/products/abmproductEdit/<%=productRenderizar.id %>?_method=PUT"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mainformabmproducto">
          <div class="formimagenabmproducto">
            <img src="/img/products/<%= productRenderizar.image %>" />
            <input
              type="file"
              accept=".jpg,.png,.svg"
              name="imagen producto"
              placeholder="imagen del producto"
            />
          </div>

          <div class="detailformabmproducto">
            <div>
              <input
                type="text"
                placeholder="Titulo del producto"
                name="name"
                value="<%= productRenderizar.name %>"
              />
            </div>

            <div>
              <textarea
                name="descripction"
                value="<%= productRenderizar.description %>"
                placeholder="<%= productRenderizar.description %>"
                required
              ></textarea>
            </div>

            <div>
              <input
                type="number"
                name="price"
                value="<%= productRenderizar.price %>"
                placeholder="Precio"
                required
              />
            </div>

            <div class="inputselector">
              <select
                name="packaging"
                id="peso"
                required
                value="<%= productRenderizar.packaging %>"
              >
                <option value="<%= productRenderizar.packaging %>">
                  Seleccioná el tamaño del producto
                </option>
                <option value="3kg">3kg</option>
                <option value="5kg">5kg</option>
                <option value="8kg">8kg</option>
              </select>
            </div>

            <div>
              <input type="number" name="stock" placeholder="Stock" />
            </div>
            <div class="inputselector">
              <select
                name="class"
                value="<%= productRenderizar.class %>"
                id="categoria"
                required
              >
                <option value="<%= productRenderizar.class %>">
                  Seleccioná una categoria
                </option>
                <option value="Perros">Perros</option>
                <option value="Gatos">Gatos</option>
                <option value="Peces">Peces</option>
                <option value="Aves">Aves</option>
              </select>
            </div>

            <div>
              <input
                type="number"
                name="amount"
                value="<%= productRenderizar.amount%>"
                placeholder="Cantidad"
              />
            </div>

            <div class="formbuttonsabmproducto">
              <div class="buttonabmproducto">
                <input type="submit" value="Modificar producto" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
