<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/header.ejs')%>
    <main>
        <div class="detalleproducto">
       
        <article class="detalleproductos">
            <article class="imagenproducto">
                <img src="/img/products/<%= productRenderizar.image%>">
            </article>
            <article class="resumenproducto">
                <h1 class="tituloresumenproducto"><%= productRenderizar.name %> </h1>
              
                <div class="precioystock">
                    <span class="precio"><%= productRenderizar.price %></span>
                    <span class="stock">Stock:xx</span>
                </div>
                <div class="pesoproducto">
                <a href="/paginaconproductodeXkilos.html" class="botonpesoproducto">3 Kg.</a>
                <a href="/paginaconproductodeXkilos.html" class="botonpesoproducto">15 Kg.</a>
                <a href="/paginaconproductodeXkilos.html" class="botonpesoproducto">18 Kg.</a>
                </div>
                <div class="ordencarrito">
                    <form class="cart" action="/carrito" method="post" enctype="multipart/form-data"><!--enctype es para enviar datos codificados -->
                    <div class="cantidaddeproducto">
                       <input type="button" class="sumaryrestarproductominus" value="-">
                        <input type="number" name="cantidaddeproducto" id="cantidaddeproducto" placeholder="1" class="inputcantidaddeproducto">
                        <input type="button" class="sumaryrestarproductoplus" value="+">
                    </div>
                    
                    </form> 
                    <div class="agregaralcarrito">
                        <button class="botonagregaralcarrito">AGREGAR AL CARRITO</button>
                    </div>
                    
                </div>
               
            </article>
            <div class="descripcionproducto">
                <h2 class="titulodescripcionproducto">Descripción</h2>
                <p><%= productRenderizar.description %></p>
                <p>Presentacion: <%= productRenderizar.packaging %> </p>
            </div>
            
         
            <a href="/products/abmproductEdit/<%= productRenderizar.id %>/?class=<%=productRenderizar.class%>"> 
              
              <button type="submit" >
              EDITAR
            </button>
          </a>
            
          <form
                action="/products/abmproductEdit/<%= productRenderizar.id %>/?class=<%=productRenderizar.class%>&_method=delete"
                method="POST"
                
              >
                <button type="submit" >
                  ELIMINAR
                </button>
                </form>
            
        </article>
        

    </main>
</div>

<%- include('../partials/footer.ejs')%>
</body>

</html>