<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/header.ejs')%>

      <main class="mainLogin">
        
        <div class="mainLoginDiv">

          <h2 class="pageTitle">Login</h2>

          <div class="mainLoginContainer">

            <form action="/users/login" method="post" class="loginForm">

              <div class="mainLoginInputs">

                <div class="mainLoginItem">
                  <input autofocus type="email" name="email" id="email" placeholder="Ingrese su email"
                    class="mainLoginItemInput <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.email : null %>" />
                  <div class="text-danger" id="dangerEmail"></div>
                  <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                      <%= errors.email.msg %>
                    </div>
                    <% } %>
                </div>


                <div class="mainLoginItem">
                  <input type="password" id="password" name="password" placeholder="Contraseña"
                    class="mainLoginItemInput <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.password : null %>" />
                  <div class="text-danger" id="dangerPassword"></div>
                  <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                      <%= errors.password.msg %>
                    </div>
                    <% } %>
                </div>

              </div>

              <div class="mainLoginItem">
                <input type="checkbox" class="checkUser" name="remember_user" id="userremember">
                <label for="userremember">Recordar mi usuario</label>
              </div>

              <div class="loginButtonsDiv">
                <button class="productsCardButton" type="submit">Enviar</button>
                <button class="productsCardButton" type="reset">Borrar</button>
              </div>

              <div class="mainLoginItem">
                <a href="/users/register">¿Aún no está registrado?</a>
                <a href="#">Olvide mi Contraseña</a>
              </div>

            </form>
          </div>
        </div>
      </main>
      <script src="/js/loginForm.js"></script>
      <%- include('../partials/footer.ejs')%>
  </body>

</html>