<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
    <hr />
    <main>
      <h1 class="titulosforms">Acceso <span>>></span></h1>
      <h2 class="forms">INGRESAR</h2>
      <form action="/users/login" method="post" class="formloginandregister">
        <div class="email">
          <input
          autofocus
            type="email"
            name="email"
            placeholder="Ingrese su email"
            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.email : null %>"
          >
          <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
              <%= errors.email.msg %> 
            </div>
          <% } %>
        <div class="pasword">
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
            value="<%= locals.oldData ? oldData.password : null %>"
          >
          <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
              <%= errors.password.msg %> 
            </div>
          <% } %>
        </div>
        <div class="form-group-form-check">
            <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
        </div>
        <div class="boton">
          <button type="submit">Enviar</button>
          <button type="reset">Borrar</button>
        </div>
        <div class="linkto">
          <a href="/users/register">¿Aún no está registrado?</a>
          <a href="#">Olvide mi Contraseña</a>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
